<h1>ブログ編集</h1>
<%= form_with model:@blog,local:true do |f| %>
<h4>画像</h4>
<%= f.attachment_field:image %>
<h4>タイトル</h4>
<%= f.text_field:title %>
<h4>本文</h4>
<%= f.text_area:body %>
<h4>カテゴリー</h4>
<%= f.collection_select :category_id, Category.all, :id, :category_name, class: "form-control category_id" %>
<% if current_user == @blog.user %>
 <%= f.submit'更新する' %>
 <% end %>
<% end %>

<button class ="fixed_button" ><%= link_to "戻る", :back %></button>