<div class = "containar">
 <div class ="w-50 mx-auto mt-4">
     <h1>投稿一覧</h1>
  <div class ="form-group">
      <!--検索機能-->
   <%= search_form_for(@q, url:search_blogs_path,local: true) do |f| %>
    <%= f.select :category_id_eq, options_from_collection_for_select(Category.all, :id, :category_name),{ include_blank: true } %>
    <%= f.label :tag, "タグ検索" %>
    <%= f.search_field :tags_name_eq %>
    <%= f.submit "検索" %>
   <% end %>
  </div>
 </div>
</div>


<div class="card-list-containar py-5">
 <%= render 'index',blogs: @blogs %>
  </div>

<button class ="fixed_btn btn btn-outline-primary" ><%= link_to "新規投稿",new_blog_path %></button>