<h1>投稿一覧</h1>
<div>
<%= search_form_for(@q, url:search_blogs_path,local: true) do |f| %>
  <%= f.select :category_id_eq, options_from_collection_for_select(Category.all, :id, :category_name),{ include_blank: true } %>
  <%= f.label :tag, "タグ検索" %>
  <%#= f.select :tags_id_cont, options_from_collection_for_select(Tag.all, :id, :name ) %>
  <%= f.search_field :tags_name_eq %>
  <%= f.submit "検索" %>
<% end %>
</div>


<table>
    <% @blogs.each do |blog| %>
    <tr>
        <td><%= blog.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
        <td><%= blog.user.nickname %></td>
        <td>
        <!--フォロー-->
        <% if user_signed_in? %>
         <% if current_user != blog.user %>
          <% if blog.user.followed_by?(current_user) %>
           <%= link_to "フォロー済み", user_relationships_path(blog.user.id), method: :delete %><br>
          <% else %>
           <%= link_to "フォローする", user_relationships_path(blog.user.id),method: :post %>
          <% end %>
         <% end %>
        <% end %>
        </td>
    </tr>
     <!--コメント数・いいね-->
    <tr>
        <td><%= link_to"#{blog.post_comments.count}コメント",blog_path(blog.id)%></td>
    </tr>
    <tr class = "favorite">
        <%= render 'favorites/favorite',blog: blog %>
    </tr>
    <tr>
        <td>
            <%= link_to blog_path(blog.id) do %>
            <%= blog.title %>
            <% end %>
        </td>
    </tr>
    <tr>
      　<td>
            <%= blog.category.category_name %>
        </td>
        <td>
            <%= blog.body %>
        </td>
    </tr>
    <tr>
        <td>
            <!--タグ-->
            <% blog.tags.each do |tag| %>
           タグ：  <%= tag.name %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>
            <%= attachment_image_tag blog, :image , :fill,100,100,format:'jpeg' %>
        </td>
    </tr>
    <% end %>
</table>

<button class ="fixed_button" ><%= link_to "新規投稿",new_blog_path %></button>