<h1>投稿一覧</h1>


<table>
    <% @blogs.each do |blog| %>
    <tr>
        <td><%= blog.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
        <td><%= blog.user.nickname %></td>
        <td>
        <!--フォロー-->
        <% if user_signed_in? %>
         <% if current_user != blog.user %>
          <% if blog.user.followed_by?(current_user) %>
           <%= link_to "フォロー済み", user_relationships_path(blog.user.id), method: :delete %><br>
          <% else %>
           <%= link_to "フォローする", user_relationships_path(blog.user.id),method: :post %>
          <% end %>
         <% end %>
        <% end %>
        </td>
    </tr>
     <!--コメント数・いいね-->
    <tr>
        <td><%= link_to"#{blog.post_comments.count}コメント",blog_path(blog.id)%></td>
     <% if user_signed_in? %>
        <% if blog.favorited_by?(current_user) %>
        <td>
            <%= link_to blog_favorites_path(blog),method: :delete do %>
            ♥<%= blog.favorites.count %> いいね
            <% end %>
        </td>
        <% else %>
         <td>
            <%= link_to blog_favorites_path(blog),method: :post do %>
            ♡<%= blog.favorites.count %> いいね
            <% end %>
        </td>
        <% end %>
     <% end %>
    </tr>
    <tr>
        <td>
            <%= link_to blog_path(blog.id) do %>
            <%= blog.title %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>
            <%= blog.body %>
        </td>
    </tr>
    <tr>
        <td>
            <%= attachment_image_tag blog, :image , :fill,100,100,format:'jpeg' %>
        </td>
    </tr>
    <% end %>
</table>

<button class ="fixed_button" ><%= link_to "新規投稿",new_blog_path %></button>