<h1>ユーザー info</h1>
 <table>
    <tr>
       <th>ユーザー名</th>
       <th>ユーザープロフィール</th>
       <th>ユーザー画像</th>
    </tr>
    <tr>
     <td><%= user.nickname %></td>
     <td><%#= user.profile %></td>
     <td>
         <%#= attachment_image_tag user, :profile_image , :fill,100,100,format:'jpeg' %>
     </td>
     <!--フォロー-->
     <td>
      <% if user_signed_in? %>
       <% if current_user != user %>
        <% if user.followed_by?(current_user) %>
         <%= link_to "フォロー済み", user_relationships_path(user.id), method: :delete %><br>
        <% else %>
         <%= link_to "フォローする", user_relationships_path(user.id),method: :post %>
        <% end %>
       <% end %>
      <% end %>
     </td>
    </tr>
    <tr>
      <% if current_user == user %>
       <%= link_to "フォロー",follows_user_path(user.id) %> :
       <%= link_to "フォロワー",followers_user_path(user.id) %>
      <% end %>
    </tr>
 </table>